{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome, {{ user.username }}!
  {% if user.username == "student" %}
	<p><a href="{% url 'student' %}">Student</a></p>
	<p><a href="{% url 'logout' %}">Log Out</a></p>
  {% elif user.username == "admin" %}
    <p><a href="{% url 'student' %}">Student</a></p>
    <p><a href="{% url 'professor' %}">Professor</a></p>
    <p><a href="{% url 'admin' %}">Admin</a></p>
	<p><a href="{% url 'logout' %}">Log Out</a></p>
  {% elif user.username == "instructor" %}
	<p><a href="{% url 'professor' %}">Professor</a></p>
	<p><a href="{% url 'logout' %}">Log Out</a></p>
  {% endif %}

{% else %}
  <h1>Please login as either Admin/Instructor/Student to proceed.</h1>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}